<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/spotify.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/cursor.css') }}">
        <script src="{{ url_for('static', filename='scripts/spotify.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/cursor.js') }}"></script>
    </head>
    <body onload="shorten();setupCursor()">
        <div id="big-cursor"></div>
        <div id="small-cursor"></div>

        <h1 style="color: #78939c;">> blanko <</h1>
        <div class="spotify-container">
            <a href="{{ href }}" class="selectable">
                <div class="spotify">
                    <div class="imgs">
                        {% if is_playing %}
                        <img class="img" src="{{ img }}">
                        <div class="info">
                            <img class="img-dup" src="{{ img }}">
                            <h1 class="name" id="name">{{ name }}</h1>
                            <!-- <h1 class="name" id="name">bruh bruhbruhbruasds</h1> -->
                            <!-- <div class="artists">
                                {% for a in artists %}
                                <h2>{{ a }}</h2>
                                {% endfor %}
                            </div> -->
                            <h2 class="artists" id="artists">{{ artists }}</h2>
                        </div>
                        {% else %}
                        <img class="img" src="{{ img }}" style="border-radius: 16px; mask-image: none;">
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </body>
</html>