<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='spotify.css') }}">
        <script>
            function shorten() {
                let original_name = document.getElementById("name").innerText;
                let new_name = original_name.length > 16 ? original_name.slice(0, 16) + ".." : original_name;
                document.getElementById("name").innerText = new_name;

                let original_artists = document.getElementById("artists").innerText;
                let new_artists = original_artists.length > 20 ? original_artists.slice(0, 20) + ".." : original_artists;
                document.getElementById("artists").innerText = new_artists;
            }
        </script>
    </head>
    <body onload="shorten()">
        <h1 style="color: #78939c;">> blanko <</h1>
        <div class="spotify-container">
            <a href="{{ href }}">
                <div class="spotify">
                    <div class="imgs">
                        <img class="img" src="{{ img }}">
                        <div class="info">
                            <img class="img-dup" src="{{ img }}">
                            <h1 class="name" id="name">{{ name }}</h1>
                            <!-- <h1 class="name" id="name">bruh bruhbruhbruasds</h1> -->
                            <!-- <div class="artists">
                                {% for a in artists %}
                                <h2>{{ a }}</h2>
                                {% endfor %}
                            </div> -->
                            <h2 class="artists" id="artists">{{ artists }}</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </body>
</html>