.spotify {
    border: 2px solid #B3C8CF;
    border-radius: 18px;
    max-height: 500px;
    color: #78939c;
}

.spotify h1, .spotify h2 {
    font-weight: lighter;
}

.spotify img {
    border-radius: 16px 16px 0 0;
    width: 18.75rem;
    height: 18.75rem;
}
.imgs {
    display: grid;
    grid-template-columns: 1fr;
}
.img {
    mask-image: linear-gradient(black 50%, rgba(0, 0, 0, 0.25) 100%);
}
.img-dup {
    transform: rotate(180deg);
    transform: scaleY(-1);
    mask-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 100%);
}

.info {
    display: flex;
    justify-content: center;
}

.name, .artists {
    position: absolute;
}
.name {
    margin-top: 100px;
}
.artists {
    margin-top: 150px;
}
.artists h2 {
    margin: 0 10px;
}

a {
    all: unset;
}

.spotify-container {
    display: flex;
}